.leadContent {
  display: flex;
  background-color: transparent;
  position: relative;
  align-items: flex-start;
  gap: 20px;
  z-index: 2;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  cursor: auto;
  .imageSection {
    align-self: flex-start;
    @media (max-width: 768px) {
      display: none;
    }
    img {
      max-width: 200px;
      border-radius: 12px;
    }
  }
  .contentSection {
    width: 420px;
    background: #ffffff;
    border-radius: 12px;
    padding: 24px;
    position: relative;
    .cross-btn {
      display: none;
      border: none;
      background: none;
      svg {
        width: 24px;
        height: 24px;
      }
      @media (max-width: 768px) {
        position: absolute;
        right: 30px;
        top: 24px;
        display: block;
        width: 24px;
        height: 24px;
      }
    }
    .img-mob {
      display: none;
      border-radius: 12px;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
        margin-bottom: 24px;
      }
    }
    @media (max-width: 768px) {
      width: calc(100% - 48px);
    }
    h2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #000000;
      margin: 0;
      margin-bottom: 24px;
    }
    .description {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #b8bdc4;
      margin: 0;
      margin-bottom: 8px;
    }
    .paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #2b384d;
      margin: 0;
      margin-bottom: 24px;
    }
    .btnSection {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 12px;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      button {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 10px 0;
        cursor: pointer;
      }
      .exploreBtn {
        background: #0f5e9c;
        color: white;
      }
      .buyBtn {
        color: #0f5e9c;
        border: 1px solid #0f5e9c;
        background-color: transparent;
      }
    }
  }
}
