.leadContent {
  display: flex;
  background-color: transparent;
  position: relative;
  align-items: flex-start;
  gap: 20px;
  z-index: 2;
  cursor: auto;
  .imageSection {
    align-self: flex-start;
  }
  .contentSection {
    width: 420px;
    background: #ffffff;
    border-radius: 12px;
    padding: 24px;
    h2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #000000;
      margin: 0;
      margin-bottom: 24px;
    }
    .description {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #b8bdc4;
      margin: 0;
      margin-bottom: 8px;
    }
    .paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #2b384d;
      margin: 0;
      margin-bottom: 24px;
    }
    .btnSection {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 12px;
      button {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 10px 0;
        cursor: pointer;
      }
      .exploreBtn {
        background: #fa0339;
        color: white;
      }
      .buyBtn {
        color: #fa0339;
        border: 1px solid #fa0339;
        background-color: transparent;
      }
    }
  }
}
