#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: grab;
  background-color: black;
  font-family: "Magistral";
}

.something {
  color: white;
  background: #221c1c88;
  padding: 5px 10px;
  border-radius: 20px;
}
.wrapper {
  position: relative;
  user-select: none;
  opacity: 0.8;
  cursor: pointer;
}
.wrapper:hover {
  opacity: 1;
}
.wrapper img {
  user-select: none;
}
.text {
  color: white;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.bigtext {
  position: absolute;
  bottom: -40%;
  left: 0;
  font-size: 40px;
  color: white;
  opacity: 0.7;
  transform: translate(-30%, 100%);
  display: none;
}
.bigtext1:hover .bigtext,
.bigtext2:hover .bigtext {
  display: block;
}

.circles {
  height: 50px;
  position: relative;
  width: 50px;
  cursor: pointer;
}
.circlewrapper:hover .bigtext1,
.circlewrapper:hover .bigtext2 {
  display: block;
}

.circles > div {
  animation: growAndFade 3s infinite ease-out;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.midcircle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  border: 3px solid white;
  background-color: #0f5e9c;
}
.circles .circle1 {
  animation-delay: 1s;
}
.circles .circle2 {
  animation-delay: 2s;
}
.circles .circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.triforce-container {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 120px auto;
}
.triforce,
.triforce::before,
.triforce::after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #22809c;
  position: relative;
  -webkit-animation: 1s triforce linear infinite 1s both;
  animation: 1s triforce linear infinite 1s both;
  top: 50px;
}

.triforce::before,
.triforce::after {
  content: "";
  position: absolute;
}

.triforce::before {
  left: 20px;
  top: 0;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.triforce::after {
  top: 0;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes triforce {
  0%,
  40%,
  100% {
    border-bottom-color: #22809c;
  }
  40% {
    border-bottom-color: rgba(206, 181, 2, 0);
  }
}

@keyframes triforce {
  0%,
  40%,
  100% {
    border-bottom-color: #22809c;
  }
  40% {
    border-bottom-color: rgba(206, 181, 2, 0);
  }
}

.changeViewWrapper {
  position: fixed;
  left: 4% !important;
  top: calc(100% - 100px) !important;
  transform: unset !important;
  height: 100%;
  width: 100%;
  &.right {
    left: 90% !important;
    top: calc(100% - 80px) !important;
    button {
      font-size: 24px;
      color: #a1a7b0;
      svg {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .changeViewContent button:last-child::before {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.changeViewContent {
  background: rgba(19, 34, 57, 0.6);
  box-shadow: 4px 4px 7px rgba(0, 2, 4, 0.3);
  border-radius: 8px;
}
.changeViewContent button {
  background: none;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
.changeViewContent button:last-child {
  position: relative;
}
.changeViewContent button:last-child::before {
  content: "";
  width: 1px;
  height: 60%;
  background-color: white;
  position: absolute;
  left: 0;
}
.leadWrapper {
  position: fixed;
  left: calc(75%) !important;
  top: 3% !important;
  transform: unset !important;
  height: 100%;
  width: 100%;
}
.beforeUnset button:last-child::before {
  all: unset;
}

.labelPoint {
  z-index: 1 !important;
  display: block !important;
}
