@import url("./assets/scss/_fonts.scss");
canvas {
  pointer-events: auto !important;
}
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: grab;
  background-color: black;
  font-family: var(--Magistral-Book);
}

.something {
  color: white;
  background: #221c1c88;
  padding: 5px 10px;
  border-radius: 20px;
}
.wrapper {
  position: relative;
  user-select: none;
  opacity: 0.8;
  cursor: pointer;
}
.wrapper:hover {
  opacity: 1;
}
.wrapper img {
  user-select: none;
}
.text {
  color: white;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.bigtext {
  position: absolute;
  bottom: -40%;
  left: 0;
  font-size: 40px;
  color: white;
  opacity: 0.7;
  transform: translate(-30%, 100%);
  display: none;
}
.bigtext1:hover .bigtext,
.bigtext2:hover .bigtext {
  display: block;
}

.circles {
  height: 50px;
  position: relative;
  width: 50px;
  cursor: pointer;
}
.circlewrapper:hover .bigtext1,
.circlewrapper:hover .bigtext2 {
  display: block;
}

.circles > div {
  animation: growAndFade 3s infinite ease-out;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.midcircle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  border: 3px solid white;
  background-color: #0f5e9c;
}
.circles .circle1 {
  animation-delay: 1s;
}
.circles .circle2 {
  animation-delay: 2s;
}
.circles .circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.changeViewWrapper {
  position: fixed;
  left: 24px !important;
  top: calc(100% - 100px) !important;
  transform: unset !important;

  &.right {
    left: calc(100% - 150px) !important;
    top: calc(100% - 100px) !important;
    button {
      font-size: 24px;
      color: #a1a7b0;
      padding: 10px 18px;
      svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
      }
    }
    .changeViewContent {
      height: 66px;
      display: flex;
      align-items: center;
      button:last-child::before {
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.changeViewContent {
  background: rgba(19, 34, 57, 0.6);
  box-shadow: 4px 4px 7px rgba(0, 2, 4, 0.3);
  border-radius: 8px;
  display: flex;
}
.changeViewContent button {
  background: none;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
.changeViewContent button:last-child {
  position: relative;
}
.changeViewContent button:last-child::before {
  content: "";
  width: 1px;
  height: 60%;
  background-color: white;
  position: absolute;
  left: 0;
}
.leadWrapper {
  position: fixed;
  left: calc(75%) !important;
  top: 3% !important;
  transform: unset !important;
  height: 100%;
  width: 100%;
}
.beforeUnset button:last-child::before {
  all: unset;
}

.labelPoint {
  z-index: 1 !important;
  display: block !important;
}
.soundBtnWrapper {
  position: fixed;
  left: calc(100% - 100px) !important;
  top: calc(100% - 100px) !important;
  transform: unset !important;
}
.soundBtn {
  background: rgba(19, 34, 57, 0.6);
  box-shadow: 4px 4px 7px rgba(0, 2, 4, 0.3);
  border-radius: 8px;
  height: 66px;
  border: none;
  padding: 12px 32px;
  cursor: pointer;
}
.preloaderWrapper {
  position: fixed;
  z-index: 9999999999999 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: unset !important;
  height: 100%;
  width: 100%;
  cursor: auto;
  color: white;
  // background: #00000070;
  // opacity: 0.5;

  button {
    background: transparent;
    box-shadow: 4px 4px 7px rgba(0, 2, 4, 0.3);
    border-radius: 8px;
    border: none;
    padding: 12px 40px;
    font-size: 18px;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    margin-bottom: 80px;

    @media (max-width: 1200px) {
      // margin-left: 24px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}

.react-typewriter-text {
  // text-align: center !important;
  margin-bottom: 24px !important;
  width: 100%;
  // font-family: var(--Magistral-Light) !important;
  font-size: 32px;
  line-height: 38px;
  text-align: center !important;
  letter-spacing: 0.05em;
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 32px;
  }
}

.locationCard {
  z-index: 999999999 !important;
  display: block !important;

  @media (max-width: 768px) {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: unset !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    div {
      &:first-child {
        transform: unset !important;
        padding: 12px;
      }
    }
  }
}
.react-typewriter-text-wrap {
  padding: 0 24px;
  @media (max-width: 1200px) {
    padding: 0 24px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e2e7ec;
  border: 0px none transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e7ec;
}

::-webkit-scrollbar-thumb:active {
  background: #e2e7ec;
}

::-webkit-scrollbar-thumb:active {
  background: #e2e7ec;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none var(--white);
  border-radius: 50px;
}
::-webkit-scrollbar {
  height: 10px;
  width: 2px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #e2e7ec;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.pinPointWrapper {
  .pinPoint {
    width: 1px;
    height: 1px;
    background-color: red;
    border-radius: 50%;
  }
}
.plotCoordinatesWrapper {
  transform: unset !important;
  right: 24px !important;
  bottom: 120px !important;
  left: unset !important;
  top: unset !important;
  width: 125px;
  height: 35px;

  .coordinates {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    .plotCoordinates {
    }
  }
}
